[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
pymongo = {extras = ["srv"], version = "*"}
python-dotenv = "*"

[dev-packages]
pytest = "*"
black = "*"
requests = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
